/**
 * DetailsCardsContainer - BEM
 * Block: detailsCardsContainer
 */

.detailsCardsContainer {
  margin-top: 1rem;
  max-width: 25rem;
  width: 100%;
  display: none;
  flex-direction: row;
  gap: 0.75rem;
  flex-wrap: wrap;
  justify-content: center;
}
