/**
 * Material Design 3 - Light theme (medium contrast)
 */

[data-theme='light-medium-contrast'] {
  /* Primary */
  --md-sys-color-primary: #173566;
  --md-sys-color-surface-tint: #435e91;
  --md-sys-color-on-primary: #ffffff;
  --md-sys-color-primary-container: #526da1;
  --md-sys-color-on-primary-container: #ffffff;

  /* Secondary */
  --md-sys-color-secondary: #2e3647;
  --md-sys-color-on-secondary: #ffffff;
  --md-sys-color-secondary-container: #656d80;
  --md-sys-color-on-secondary-container: #ffffff;

  /* Tertiary */
  --md-sys-color-tertiary: #462d4a;
  --md-sys-color-on-tertiary: #ffffff;
  --md-sys-color-tertiary-container: #806483;
  --md-sys-color-on-tertiary-container: #ffffff;

  /* Error */
  --md-sys-color-error: #740006;
  --md-sys-color-on-error: #ffffff;
  --md-sys-color-error-container: #cf2c27;
  --md-sys-color-on-error-container: #ffffff;

  /* Background & Surface */
  --md-sys-color-background: #f9f9ff;
  --md-sys-color-on-background: #1a1b20;
  --md-sys-color-surface: #f9f9ff;
  --md-sys-color-on-surface: #0f1116;

  /* Surface Variants */
  --md-sys-color-surface-variant: #e1e2ec;
  --md-sys-color-on-surface-variant: #33363e;
  --md-sys-color-outline: #50525a;
  --md-sys-color-outline-variant: #6a6d75;

  /* Shadow & Scrim */
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;

  /* Inverse */
  --md-sys-color-inverse-surface: #2f3036;
  --md-sys-color-inverse-on-surface: #f0f0f7;
  --md-sys-color-inverse-primary: #adc7ff;

  /* Fixed Colors */
  --md-sys-color-primary-fixed: #526da1;
  --md-sys-color-on-primary-fixed: #ffffff;
  --md-sys-color-primary-fixed-dim: #395487;
  --md-sys-color-on-primary-fixed-variant: #ffffff;

  --md-sys-color-secondary-fixed: #656d80;
  --md-sys-color-on-secondary-fixed: #ffffff;
  --md-sys-color-secondary-fixed-dim: #4d5567;
  --md-sys-color-on-secondary-fixed-variant: #ffffff;

  --md-sys-color-tertiary-fixed: #806483;
  --md-sys-color-on-tertiary-fixed: #ffffff;
  --md-sys-color-tertiary-fixed-dim: #664c6a;
  --md-sys-color-on-tertiary-fixed-variant: #ffffff;

  /* Surface Containers */
  --md-sys-color-surface-dim: #c6c6cd;
  --md-sys-color-surface-bright: #f9f9ff;
  --md-sys-color-surface-container-lowest: #ffffff;
  --md-sys-color-surface-container-low: #f3f3fa;
  --md-sys-color-surface-container: #e8e7ee;
  --md-sys-color-surface-container-high: #dcdce3;
  --md-sys-color-surface-container-highest: #d1d1d8;
}
