/**
 * PageContainer - BEM
 * Block: pageContainer
 */

.pageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 2rem;
  background-color: var(--md-sys-color-container-low);
  width: 100%;
  max-width: 31.25rem;
  margin: 1rem auto 0;
  box-shadow:
    0 0.0625rem 0.125rem 0 rgba(0, 0, 0, 0.3),
    0 0.0625rem 0.1875rem 0.0625rem rgba(0, 0, 0, 0.15);
  border-radius: 1rem;
  position: relative;
}
